@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: light; 
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold; 
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: 'Segoe';
  src: url('/fonts/Segoe-Regular.ttf') format('truetype');
  font-weight: normal; /* sau 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Segoe';
  src: url('/fonts/Segoe-Bold.ttf') format('truetype');
  font-weight: bold; /* sau 700 */
  font-style: normal;
}


@font-face {
  font-family: 'Segoe';
  src: url('/fonts/Segoe-Italic.ttf') format('truetype');
  font-weight: normal; 
  font-style: italic;
}

@font-face {
  font-family: 'Segoe';
  src: url('/fonts/Segoe-Bold-Italic.ttf') format('truetype');
  font-weight: bold; 
  font-style: italic;
}


@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
}


@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Personalizare scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Lățimea barei de scroll */
  height: 10px; /* Înălțimea barei de scroll orizontale */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Culoarea barei */
  border-radius: 10px; /* Colțuri rotunjite */
  border: 2px solid transparent; /* Spațiu între thumb și track */
  background-clip: padding-box; /* Stil rotunjit */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Fundalul track-ului */
  border-radius: 10px; /* Colțuri rotunjite pentru track */
}

/* Stil pentru hover pe thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Culoare mai închisă la hover */
}



/* Definirea variabilelor globale */
:root {

  --background:#f0f0f0;
  --foreground: #171717;
  --white:white;

  /* Culori */
  /*  --red: #d80000; */
  --red: red;
  --black: #0E0E0F; /* soft black, ideal pentru text */

  --title-font-family: 'Roboto', sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}



body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: var(--title-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

input {
  outline: none;
}


* {
  box-sizing: border-box;
  margin:0px !important;
}


a:hover {
  color: var(--red) !important;
}

.bumb {
  color: var(--red);
  padding:0 5px;
}

.bumbSpecial {
  font-size: 28px;
  vertical-align: middle;
  position: relative;
  left: -10px;
  top:-2px;
}

input, select {
  background: white !important;
  outline: none;
}

.custom-checkbox {
  appearance: none; /* Anulează stilurile native */
  -webkit-appearance: none;
  background-color: white !important; /* Background alb */
  border: 1px solid #ccc !important;  /* Bordură opțională */
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 4px; /* Opțional, pentru colțuri rotunjite */
  position: relative;
}

/* Stil pentru starea "checked" */
.custom-checkbox:checked {
  background-color: white !important; /* păstrează background-ul alb */
}

/* Pentru a afișa o bifă personalizată când este bifat */
.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


/*  spinner  */

.loading {
  position: fixed;
  top: 85px;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #007bff;
  animation: spin 1s ease-in-out infinite;
  margin-top: -30px !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 890px) {
  .bumbSpecial {
    left:-20px;
  } 
}

.container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap:10px;
  max-width:1800px;
  margin:auto !important;
}

.container-news {
  background:var(--white);
  box-shadow: 0 0 2px lightgrey;
  border-radius:10px;
  width:300px;
  position: relative;
}

.container-news:hover {
  box-shadow: 0 0 10px lightgrey;
  opacity:.9;
}

.container-news strong
{
  display: inline-block;
  color: var(--black);
  font-weight: 100;
}

.container-news-image {
  position: relative;
}

.labelMobil {
  display: none;
}

.label {
  bottom:10px;
  left: 25px;
  background: var(--white);
  color: var(--black);
  border-radius:5px;
  padding:5px 10px;
  font-size: 12px;
  position: absolute;
}

.container h3 {
  padding:10px 20px 20px 20px;
  color:var(--black);
  font-size: 16px;
  font-family: var(--title-font-family);
  line-height: 1.3; 
  overflow: hidden;
  margin-bottom: 60px !important;
  font-weight: bold;
}

.ago {
  padding: 0 0 20px 20px;
  font-size: 12px;
  color: var(--black);
  font-weight:400;
  bottom: 0;
  position: absolute;
}  

.peScurt,
.ultimele
{
  width:100%;
  text-align: left;
  padding-left:20px;
  display:none;
  color: var(--red); 
  font-size:14px;
  font-weight: bold;
}

.peScurt {
  margin-top:10px !important;
  margin-bottom: -10px !important;
}

.ultimele {
  position: sticky;
  top:60px;
  padding:10px 20px;
  z-index: 2;
  margin-bottom: -10px !important;
  background: var(--background);
}

.container img {
  width:90%;
  height:180px;
  object-fit: cover;
  border-radius: 10px;
  margin: auto !important;
  margin-top:15px !important;
  margin-bottom: 30px !important;
  background: var(--background);
}

.container-news-no-img {
  height: 430px;
  overflow: auto;
  padding:0 20px 20px 20px;
  border-radius:10px;
}

.container-news-no-img h3 {
  padding:0px;
  font-size:14px !important;
  max-height: unset;
  padding-left:18px;
}

@media only screen and (max-width: 600px) {
  .peScurt, .ultimele {
    display: inline-block;
  }
  
  .container-news-no-img h3,
  .container h3
  {
    font-weight: bold;
  }

  .container h3 {
      display: -webkit-box;
      -webkit-line-clamp: 4; /* Numărul de rânduri dorit */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 6.5em; /* Ajustează în funcție de font-size și line-height */
      line-height: 1.5em; /* Ajustează pentru alinierea corectă */
      margin-bottom: 20px !important;
  }

  .container-news-no-img h3 {
    top: 15px;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Numărul de rânduri dorit */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 7em; /* Ajustează în funcție de font-size și line-height */
    line-height: 1.5em; /* Ajustează pentru alinierea corectă */
  }


  

}


.container-news-no-img h3,
.container-news-no-img .ago,
.container-news-no-img .news-source
 {
  font-size:10px;
  line-height: 20px;
}

.container-news-no-img .news-source,
.container-news-no-img .ago {
  display: inline;
  color: var(--black);
}

.container-news .news-source,
.news-item .news-source
{
  padding:2px 10px;
  border-radius:5px;
  background: var(--background);
}

.news-source {
  font-weight: 400 !important;
}

.slick-art .news-source {
  padding:0 !important
}



.logo {
  font-size:26px;
}

.logo a {
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight:bolder;
}

.logo select {
  font-size:20px;
  padding:10px;
}

.logo select {
  outline: none;
}

.menu button {
  margin-right:5px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width:auto;
  height:30px;
  vertical-align: middle;
  opacity: .6;
  transition: opacity 0.25s;
  padding:0 15px ;
  font-size: 12px;
}

.menu button:hover,
.menu button:focus {
  opacity: 1;
}

.menu button.active {
  opacity: 1; /* Butonul selectat va avea opacitate maximă */
  font-weight:bold;
}

.menu .button-large {
  width:100px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.menu {
  position: sticky;
  top: 0;
  background: var(--white);
  padding: 20px;
  z-index:2;
  display: block;
  background: black;
}

.menu-container {
  display: flex;
  align-items: center;
  max-width:1550px;
  margin:auto !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color:lightgrey;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* carusel  */

.ultima-ora {
  position: absolute;
  z-index:1;
  margin-top:20px !important;
  margin-left:20px !important;
  background: var(--white);
  border-radius:5px;
  color: var(--red);
  padding:5px 10px;
  text-transform: uppercase;
  font-size:12px;
  font-weight:bold;
}

.giphy {
  width:20px !important;
  height: 20px !important;
  float:left !important;
  margin:3px !important;
}


.slick-list {
  width: 400px;
  border-radius:0px;
  height: 400px !important;
  width: 580px !important;
}

@media only screen and (max-width: 890px) {
  .slick-list {
    width:unset !important;
    max-width: 890px !important;
  }
}

.slick-slide strong {
  padding: 10px 0 0 20px;
}

.slick-slide img {
  margin-top:0px !important;
  border-radius: 0 !important;
}

.slick-art {
  background-size: cover !important;
  height: 430px;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  background-color: var(--white);  
  border:2px solid var(--white);
}

.slick-art>div {
  position: absolute;
  bottom:0%;
  padding:0 20px;
}

.slick-art h3 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 0 15px var(--black);
  margin-bottom:30px !important;
}

.slick-prev, .slick-next {
  z-index:1 !important;
}

.slick-prev {
  left: 5px !important;
}

.slick-next {
  right: 5px !important;
}

.caret-news-top {
  display: none;
}

.slick-dots {
  bottom: -18px !important;
}

.slick-dots li button:before {
  color: grey !important; /* sau orice culoare dorești */
}

.slick-dots li.slick-active button:before {
  color: lightgrey !important; /* poți seta o altă culoare pentru dot-ul activ, dacă preferi */
}

/* top stiri dinamic  */

.caret-news-top svg {
  transition: transform 0.3s ease; /* Animația rotației */
}

.caret-news-top svg.rotated {
  transform: rotate(180deg); /* Rotește SVG-ul cu 180 de grade */
}

.news-item-container {
  overflow: hidden; /* Ascunde conținutul */
  max-height: 0; /* Înălțimea inițială este 0 */
  transition: max-height 0.3s ease; /* Animația pentru toggle */
}

.news-item-container.show-items {
  max-height: unset; /* Permite afișarea conținutului */
  position: relative;
}

.news-item-container.hide-items {
  max-height: unset; /* Ascunde conținutul */
  top:0px;
  position: relative;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px #0000001a;
  z-index: 1000;
  width: 40px;
  height: 40px;
  text-align: center;
}

.container-all-carousel {
  margin-bottom: 20px;
  border:15px solid var(--white);
  border-radius: 10px;
  background: var(--white);
}

.degrade {
    position: absolute;
    bottom: 20px !important;
    left: 0px;
    color: var(--white);
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    padding: 10px;
    min-width: 100%;
    z-index: 10;
}

.news-item-border {
  border: none;  
}


@media only screen and (max-width: 1000px) {
  .container-all-carousel {
    width:100%;
    border:none;
  }
}


@media only screen and (max-width: 600px) {
  
  .news-item .news-source {
    background: none;
    padding:0
  }

  .slick-art h3 {
    font-size: 16px;
    margin-bottom: 20px !important;
  }

  .container-news-no-img-top {
    display: none;
  }

  .news-item-border {
    border-radius: 5px;
    padding: 0 5px 5px 5px;
    border: .5px solid black;
    position: relative;
    left:18px;
    top:0px;  
  }

  .top-top 
  {
    display: none !important;
  }

  .degrade {
    bottom: 0px !important;
  }

  .news-item-container.hide-items {
    max-height: 0; /* Ascunde conținutul */
  }

  .news-item-container.show-items {
    max-height: 155px; /* Permite afișarea conținutului */
    white-space: nowrap;
    overflow-x:visible;
    top:0 !important;
  }

  .caret-news-top {
    padding:10px;
    background-color: var(--red);
    color: var(--white);
    width:100%;
    display: block !important;
    text-align:center;
    font-family: var(--title-font-family);
  }
  
  .caret-news-top,
  .caret-news-top svg
  {
    display: inline;
  }
  
  .menu {
    padding: 15px 10px;
    height: 90px;
  }

  .slick-list {
    max-width:100% !important;
    border-radius:0px;
    height:220px !important;
  }

  .slick-art {
    border-radius:0px !important;
    height: 220px;
  }

  .slick-slider {
    min-width:100% !important;
  }
  
  .slick-dots {
    display: none !important;
  }

  .labelMobil {
    display: inline-block;
    color: var(--red); 
    font-weight:300;
    text-transform: uppercase;
  }

  .label {
    display: none;
  }

  .container-news-image {
    width: 30%;
    height: 100%;
    float: left;
  }

  .container img {
    width:100%;
    height:100%;
    border-radius: 0;
    margin-right: 10px !important;
    margin-top:0px !important;
  }  
  .container-news {
    padding:12px 10px;
    overflow:hidden;
    max-height: 174px; 
    width:100%;
    border-radius:0;
    box-shadow: none;
  }
  .container-news:hover {
    box-shadow: none;
  }
  .ago {
    display: none;
  }

  .news-source {
    background: transparent !important;
    padding:2px 0 !important;
  }

  .container-news strong {
    padding:0;
  }


}


.menu-categories {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
}

.hamburger {
  display: none;
  color: white;
}

.menu-item {
  display: inline-block !important;
  padding: 5px 10px;
  cursor: pointer;
  color: white;  
}

.menu-categories {
  display: block;
  width: 100%;
  text-align: right;
}

.menu-categories-faded {
  display: none;
}

@media only screen and (max-width: 766px) { 
  .menu-categories {
    width:100px;
    position: absolute;
    background: var(--black);
    top: 60px;
    width:100%;
    display: flex !important;
    overflow-x: scroll;
    white-space: nowrap;
    left:0;
    text-align: center;
    border-top:.1px solid white;
    text-transform: capitalize;
    scrollbar-visibility: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;    
  }

  .menu-categories-faded {
    display: block;
    background: linear-gradient(to right, transparent, black);
    width: 50px;
    height: 30px;
    position: fixed;
    right:0;
    z-index:1;
    top:60px;
  }

  .displayFilter-faded {
    position: absolute;
    right: 0;
    top: 0px;
    height: 59px;
    width: 55px;
    background: linear-gradient(to right, transparent, #e5e7eb);
    z-index: 1;
    display: block;
  }



  .menu-item:last-child
  {
    padding-right: 40px;
  }

  .displayFilterElement:last-child {
    margin-right: 40px !important;
  }


  .hamburger {
    display: block;
    position: absolute;
    right: 0px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
  }
}


/*  dropdown fake  


.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 2px !important;
}

.dropdown-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: red !important;
  color: white;
  cursor: pointer;
  justify-content: space-between;
  min-width: 125px;
  font-size: 15px;  
}

.dropdown-menu {
  animation: fadeIn 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  z-index: 1000;
  width: 100%;
  font-size: 13px;  
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item.active {
  background-color: black;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

*/


/* top  */

.top {
  max-width:1570px;
  margin:auto !important;
  display: flex;
  justify-content: space-between;
  padding:20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight:bold;
  letter-spacing: 1px;
}

.top-right {
  display: flex;
  align-items: center;
}

.top-right-mobile {
  width:65px;  
  position:absolute;
  right:0px;
  display: flex; 
  justify-content: space-between;
  display: none;
}

.login {
  margin-right:30px !important;
}

.top svg {
  display: inline-block;
  vertical-align: inherit; 
  font-size: 16px;
}

.search input {
  padding: 5px;
  margin-right: 10px;
  width:300px;
  background: var(--white);
}

.search svg,
.login svg
{
  background: black;
  fill: white;
  padding: 7px;
  height: 27px;
  vertical-align: middle;
  width: 27px;
}

.top-left a {
  border-bottom: 4px solid var(--red);
  padding: 6px 0;
}

.login-container {
  margin-right:30px !important;
}

@media only screen and (max-width: 1000px) {
  .search input {
    width:auto;
  }
}


@media only screen and (max-width: 766px) {
  .top-right {
    width: 100%;
    justify-content: flex-end;
  }

  .top-right-mobile {
    display: flex;
  }

  .top-left,
  .login-container {
    display: none;
  }

  .search {
    display: block;
    position: absolute;
    z-index: 2;
    top: -15vw;
    left: 0;
    width: 100%;
  }

  .search input {
    width: 100%;
    height: 40px;
    padding: 15px;
  }

  .search svg {
    position: absolute;
    right: 0;
    height: 100%;
    width: 10%;
  }

  .top {
    padding: 0;
  }
  
  .login {
    margin-right:0 !important;
  }
}

@media only screen and (max-width: 500px) { 
  .logo {
    font-size:6vw;
    padding-top:2px;
  }
  .giphy {
    width:4.5vw !important;
    height:4.5vw !important;
  }
}


.supra,
.supra-desktop
{
  position: absolute;
  top: 30px;
  left: 30px;
  background: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-family: var(--title-font-family);
  z-index: 1;
  color: var(--black);
  display: none;
  position: relative;
  top:-5px;
  left:15px;
}


.supra-desktop {
  display:inline-block;
  margin-right:5px !important
}

@media only screen and (max-width: 600px) {
  .supra {
    display: inline-block;
  }
  .supra,
  .supra-desktop {
    font-size:10px;
  }
}



/* Footer  */

.footer {
  padding: 40px 60px;
  border-top:1px solid black;
  margin-top: 60px !important;

}

.footer-container {
  max-width: 1200px;
  margin: 0 auto !important;
  text-align: center;
}

.footer-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-column.newsletter p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-column.newsletter input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px !important;
  margin-top:10px !important;
}

.footer-column.newsletter button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.footer-column.newsletter button:hover {
  background-color: #333;
}

.footer-columns .footer-column:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}


@media only screen and (max-width: 776px) {
  .footer-columns .footer-column:not(:last-child) {
    border-right: none;
  }
  
}


@media (max-width: 766px) {
  .top .search {
    /* animația pe mobil */
    position: fixed !important;
    top: -15vw;
    /* transition: top 0.4s ease; */
    right: 1rem;
    z-index: 3;
  }

  body.search-open .top .search {
    top: 55px;
  }
}





/* Search results */

.search-results {
    max-width: 1260px;
    margin: auto !important;
    margin-top: 50px !important;
    padding:0 20px;
}

.search-results .container-news {
  padding:20px;
  display: flex;
  max-height:200px !important;
  width:32%;
}

.searchImg {
  min-width: 40%;
  height:100%;
  padding-right: 20px;
}


.no-results {
  font-size: 24px;
  padding:60px 20px 0px 20px;
  margin: auto !important;
  max-width: 1240px;
}

.search-results h1 {
  font-size:24px;
  padding:20px 0;
} 

.search-results h3 {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Numărul de rânduri dorit */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results .ago {
  padding: 0 0 20px 0;
  display: block !important;
}

.search-results .ago .news-source {
  background: var(--background) !important;
  padding: 2px 10px !important;
}

.search-results .container-news a {
  margin-bottom:30px !important;
}



.searchImg img {
  height:100%;
  object-fit: cover !important;
}

.catSearch
{
  width:100%;
  text-align: left;
  padding:20px 0;
  color: var(--red); 
  font-size:14px;
  font-weight: bold;
}


@media (max-width: 1000px) {
  .search-results .container-news {
    width:49%;
  }
}

@media (max-width: 767px) {
  .search-results .container-news {
    width:100%;
  }
}


/*  subMenu  */

.containerSubMenu {
  max-width:1560px;
  padding:0 10px;
  margin: auto !important;
  margin-bottom:15px !important;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}

.containerSubMenu > div
{
  background: white;
  padding:4px 10px;
  border-radius:5px;
}

.filter {
  min-width:120px;
  text-align: center;
}


.containerDisplayFilter {
  top: 70px;
  position: sticky;
  z-index:2;
  background: var(--background);
  padding: 20px 0 5px 0;
}

.displayFilter {
  background: transparent !important;
  max-width: 1540px;
  gap: 10px;
  white-space: nowrap;
  border-radius: 0 !important;
  margin:auto !important;
  font-size: 12px;  
  padding: 0px 0px 15px 0px;
  align-items: center;
  height:40px;
  overflow-y:hidden;
  overflow-x: auto;
  position: relative;
  scrollbar-visibility: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;  
  border-bottom:1px solid black;
  margin-bottom:10px !important;
}



.displayFilterElement {
  background: white !important;
  padding:4px 8px;
  border-radius:5px;
  display: flex !important;
  align-items: center;
  gap:3px;
}

.x {
  margin-left: 4px !important;
  cursor: pointer;
  color: red;
}

.filter-panel {
  font-size:12px;
}

.filter-panel input[type="checkbox"] {
  margin-right:5px !important;
  margin-bottom:5px !important;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px !important;
  border-bottom:1px solid var(--black);
  padding-bottom:10px;
  font-weight:bold;
  text-transform: uppercase;
}

.sources h4,
.labels h4 {
  font-weight: bold;
  margin-bottom:10px !important;
}

.labels {
  border-left:.1px solid var(--black);
}


@media only screen and (max-width: 767px) {
  .containerDisplayFilter {
    top: 89px;
  }
  .displayFilter {
    padding: 0px 15px 15px 15px;
  }  
}





/* ===== Animație la apariția cardurilor ===== 
@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(20px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}
*/
/* ===== Stil pentru fiecare card de știre ===== */
.container-news {
  animation: fadeIn 0.5s ease-in-out; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


/* ===== Imaginea știrii ===== */
.container-news-image img {
  transition: transform 0.4s ease;
  width: 90%;
  object-fit: cover;
}




/*  pagina news  */

.news-detail-container {
  max-width: 800px;
  margin: auto !important;
  padding: 40px;
}

.news-detail-container .label {
  display: inline-block !important;
  position: relative;
  font-size: 18px;
  bottom: unset;
  left:unset;
  margin-bottom:20px !important;
} 

.news-detail-container h1 {
  font-weight: 800;
}


.news-detail-image img {
  width:100%;
  margin:20px 0 !important;
 }

 .back-button-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 85px !important;
    right: 25px !important;
    position: relative;
    background: white !important;
    opacity: 1 !important;
 }


 @media only screen and (max-width: 767px) {
  .news-detail-container h1 {
    font-size: 24px;
  }
 }


.breadcrumbs {
  font-size:12px;
  margin-bottom:12px !important;
  color:grey;
}